@charset "UTF-8";
#About {
  position: relative;
}

#About .con {
  max-width: 1190px;
  margin: 0 auto;
  padding: 8vh 40px 0;
}

#About .con .title {
  text-align: center;
}

#About .con .title h1 {
  padding: 20px 0 12px;
  font-family: arial;
  font-size: 52px;
  font-weight: bold;
  color: #555555;
}

#About .con .title h1 > span {
  color: #daa520;
}

#About .con .title p {
  font-family: 微軟正黑體;
  font-size: 18px;
  color: #333333;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#About .con .title p i {
  display: inline-block;
  width: 35px;
  height: 2px;
  background-color: #daa520;
}

#About .con .title p i:first-child {
  margin-right: 18px;
}

#About .con .title p i:last-child {
  margin-left: 18px;
}

#About .con .info {
  max-width: 100%;
  padding: 5vh 0 130px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
}

#About .con .info .info-left {
  width: 40%;
}

#About .con .info .info-left img {
  width: 100%;
}

#About .con .info .info-right {
  width: 50%;
}

#About .con .info .info-right ul {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#About .con .info .info-right ul li {
  min-width: 171px;
  width: 50%;
  padding: 20px 5px;
  border-bottom: 1px solid #eee;
  line-height: 22px;
  font-size: 15px;
  color: #555555;
  font-weight: bold;
  font-family: f93afb6a406b3aafa0341099ab3304c43;
  white-space: nowrap;
}

#About .con .info .info-right ul li span {
  padding-left: 5px;
  font-weight: normal;
  font-style: normal;
  color: #888888;
}

#About .con .info .info-right a {
  font-family: 微軟正黑體;
  font-size: 14px;
  letter-spacing: 1px;
  text-indent: 1px;
  padding: 16px 60px;
  border-radius: 2em;
  border-color: goldenrod;
  background-color: goldenrod;
  color: white;
}

#About .con .info .info-right a:hover {
  text-decoration: none;
}

#About .con .info .info-right a i {
  font-size: 16px;
}

#About .con .body {
  max-width: 100%;
  padding-top: 140px;
  display: flex;
  justify-content: space-between;
}

#About .con .body > div {
  padding: 0 5px;
  width: 50%;
}

#About .con .body > div h1 {
  font-size: 30px;
  color: #555555;
  font-weight: bold;
  margin-bottom: 65px;
}

#About .con .body > div ul {
  position: relative;
}

#About .con .body > div ul li {
  position: relative;
  max-width: 530px;
  height: 186px;
  padding-left: 68px;
  color: #888;
}

#About .con .body > div ul li .body-time {
  font-size: 13px;
  line-height: 34px;
  font-family: 微軟正黑體;
}

#About .con .body > div ul li .body-time i {
  font-size: 16px;
  margin-right: 15px;
}

#About .con .body > div ul li .body-title {
  padding: 0 0 2px 0;
  font-size: 18px;
}

#About .con .body > div ul li .body-title span {
  font-weight: bold;
  color: #555;
}

#About .con .body > div ul li .body-text {
  font-size: 14px;
}

#About .con .body > div ul li:last-child {
  height: 142px;
}

#About .con .body > div ul li::before {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  left: 3px;
  top: 10px;
  bottom: 0;
  box-sizing: border-box;
  background-color: #FFF;
  border: 2px solid #cca545;
  border-radius: 50%;
  z-index: 1;
}

#About .con .body > div ul::before {
  content: "";
  width: 1px;
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
  bottom: 0;
  background-color: #cca545;
}

#About .con .body .body-right {
  margin-left: 60px;
}

#About .con .skill {
  margin-top: 80px;
}

#About .con .skill h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 75px;
}

#About .con .skill ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#About .con .skill ul li {
  width: 29%;
  margin-bottom: 80px;
}

#About .con .skill ul li > p {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 20px;
  color: #555555;
}

#About .con .skill ul li > p span {
  line-height: 30px;
  font-size: 25px;
  color: goldenrod;
}

#About .con .skill ul li div {
  margin-top: 10px;
  height: 2px;
  background-color: #777777;
}

#About .con .skill ul li div p {
  height: 100%;
  background-color: #DAA520;
}

@media screen and (max-width: 990px) {
  #About .con .info {
    display: block;
  }
  #About .con .info .info-left {
    width: 100%;
    text-align: center;
  }
  #About .con .info .info-left img {
    max-width: 600px;
  }
  #About .con .info .info-right {
    width: 100%;
  }
  #About .con .info .info-right ul li {
    width: 100%;
  }
  #About .con .body {
    display: block;
  }
  #About .con .body > div {
    width: 100%;
  }
  #About .con .body > div ul li {
    max-width: 100%;
  }
  #About .con .body .body-right {
    margin-left: 0;
  }
  #About .con .skill ul li {
    width: 100%;
    margin-bottom: 80px;
  }
}
