* {
  margin: 0;
  padding: 0;
}

ul, li, ol {
  list-style: none;
}

body {
  overflow-x: hidden;
}

#Index {
  position: relative;
}

#Index nav {
  width: 170px;
  min-height: 480px;
  background-color: #333;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  bottom: 0;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

#Index nav .changeShow {
  width: 50px;
  height: 50px;
  background-color: #333;
  position: absolute;
  top: 20px;
  right: -75px;
  left: auto;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  z-index: 2;
}

#Index nav .changeShow::before {
  content: "";
  background: #ffffff;
  display: block;
  width: 20px;
  height: 2px;
  position: absolute;
  top: 18px;
  left: 15px;
  transition: all 0.3s ease-out 0s;
}

#Index nav .changeShow::after {
  content: "";
  background: #ffffff;
  display: block;
  width: 20px;
  height: 2px;
  position: absolute;
  top: 28px;
  left: 15px;
  transition: all 0.3s ease-out 0s;
}

#Index nav .changeShow:hover {
  cursor: pointer;
}

#Index nav .changeShow:hover::before {
  top: 25px;
  transform: rotate(-45deg);
}

#Index nav .changeShow:hover::after {
  top: 25px;
  transform: rotate(45deg);
}

#Index nav .el-menu-vertical-demo {
  padding-top: 100px;
  background-color: #333;
  border: 0;
}

#Index nav .el-menu-vertical-demo .el-menu-item {
  padding-left: 40px !important;
  font-size: 16px;
  color: white;
}

#Index nav .el-menu-vertical-demo .el-menu-item i {
  color: white;
}

#Index nav .el-menu-vertical-demo .el-menu-item:hover {
  background-color: #333;
  color: #daa520;
}

#Index nav .el-menu-vertical-demo .el-menu-item:hover i {
  color: #daa520;
}

#Index nav .el-menu-vertical-demo .is-active {
  background-color: #333;
  color: #daa520;
}

#Index nav .el-menu-vertical-demo .is-active i {
  color: #daa520;
}

#Index .show {
  transform: none;
}

#Index .show .changeShow {
  margin-right: 170px;
}

#Index .show .changeShow::before {
  top: 25px;
  transform: rotate(-45deg);
}

#Index .show .changeShow::after {
  top: 25px;
  transform: rotate(45deg);
}

#Index .hide {
  transform: translate3d(-170px, 0, 0);
}

@media screen and (max-width: 990px) {
  #Index nav {
    left: auto;
    right: -170px;
  }
  #Index nav .changeShow {
    width: 44px;
    height: 44px;
    top: 10px;
    right: 180px;
    background-color: #daa520;
  }
  #Index nav .changeShow::before {
    top: 15px !important;
    left: 12px;
    transform: rotate(0) !important;
  }
  #Index nav .changeShow::after {
    top: 26px !important;
    left: 12px;
    transform: rotate(0) !important;
  }
  #Index .show {
    transform: translate3d(-170px, 0, 0);
    width: 100%;
    text-align: center;
    background-color: #ffffff;
  }
  #Index .show .changeShow {
    margin-right: -170px;
  }
  #Index .show .el-menu-vertical-demo {
    background-color: #ffffff;
  }
  #Index .show .el-menu-vertical-demo .el-menu-item {
    color: #333;
    border-bottom: 1px solid #DDD;
  }
  #Index .show .el-menu-vertical-demo .el-menu-item i {
    color: #333;
  }
  #Index .show .el-menu-vertical-demo .is-active {
    background-color: transparent;
    color: #333;
  }
  #Index .show .el-menu-vertical-demo .is-active i {
    color: #333;
  }
  #Index .hide {
    transform: translate3d(0, 0, 0);
  }
  #live2d-widget {
    display: none;
  }
}
