*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	/* -webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none; */
}
ul li{
	list-style: none;
}